@font-face {
  font-family: "Minimal";
  src: local("Minimal"), url("./fonts/minimal.otf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "MavenPro";
  src: local("MavenPro"), url("./fonts/MavenPro-Black.ttf") format("truetype");
  font-weight: bolder;
}
@font-face {
  font-family: "MavenPro";
  src: local("MavenPro"), url("./fonts/MavenPro-Bold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "MavenPro";
  src: local("MavenPro"), url("./fonts/MavenPro-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "MavenPro";
  src: local("MavenPro"), url("./fonts/MavenPro-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "MavenPro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
